.titulo{
    display: flex;
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
    justify-content: center;
}

.texto{
    display: flex;
    justify-content: center;
}

.contenedorBoton{
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.imagen{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.mensajes{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(59, 16, 212);
}

