body {
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
}
.area {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid;
  border-color: #217023;
  padding-top: 10px;
  padding-bottom: 10px;
}

.principal {
  display: flex;

  margin-left: 0px;
  margin-right: 0px;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  flex: 1;
}
.titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.logoEscuela {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.areaResultado {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagen {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.estiloBoton {
  background-color: #217023;
  border: 1px solid;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  width: 120px;
}
.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  border-spacing: 0;
  font-size: 12px;
}
th {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  width: 20px;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  border: 0.5px solid #b0bec5;
}

tr:nth-child(even) {
  background-color: #eceff1;
}

th:nth-child(1) {
  background-color: #808b96;
  color: #ffffffd5;
}

th:nth-child(2) {
  background-color: #4fc3f7;
  color: #13394bc9;
}

th:nth-child(3) {
  background-color: #ffca28;
  color: #5a470ed7;
}
th:nth-child(4) {
  background-color: #e57373;
  color: #411f1fd2;
}
th:nth-child(5) {
  background-color: #a569bd;
  color: #472d52d0;
}

.areaTabla {
  margin-top: 20px;
}
.estiloBoton:hover {
  background-color: white;
  color: #217023;
  border: 1px solid;
  border-color: #217023;
  border-radius: 5px;
}
.estiloBoton:active {
  background-color: #217023;
  border: 1px solid;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.estiloBoton:disabled {
  background-color: gray;
  color: #232623;
  border: 1px solid;
  border-color: #232623;
  border-radius: 5px;
}
.contenedorBoton {
  display: flex;
  flex: 1;
  justify-content: center;
}
.cajaTexto {
  border-radius: 4px;
  border-color: #217023;

  font-size: 14px;
  color: rgb(85, 83, 83);
}
.info {
  border-radius: 4px;
  border-color: #217023;
  font-size: 14px;
  color: rgb(21, 20, 20);
  width: 180px;
}
.ingresoDatos {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: Arial, Helvetica, sans-serif;
}
.tituloCampo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20px;
}
.resultado {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}
.imagenResultado {
  display: flex;
  flex: 6;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.error {
  color: red;
  font-style: italic;
  font-size: 11px;
}
